.user-profile-block{
  .content{

    display: block;
    width: 100%;
    .view-user-profile{
      .views-row{
        .views-field-picture{
          display: block;
          float: left;width: 30%;
          margin-right: 10px;
        }
        .views-field-nothing{
          margin-top: 5px;
          a{
            border-radius: 2px;
            padding: 3px 18px 3px 18px;
            color: $color_white;
            background: $color_gray_bold;
          }
        }
      }
    }
  }
}