.tab-thi-thu{
  position: relative;
  margin-bottom: 30px;
  display: table;
  width: 100%;
  .block-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    position: absolute;
    left: 0px;
    top: 5px;
  }
  ul.quicktabs-tabs{
    &.quicktabs-style-nostyle{
      border-bottom: 1px solid $color_gray;
      display: table;
      width: 100%;
      padding-left: 220px;
      li{
        display: inline-block;
        float: left;
        margin-bottom: -1px;
        margin-left: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        a{
          padding: 5px 10px 5px 10px;
          border: 1px solid $color_gray;
          display: block;
          background-color: $color_main;
          color:$color_white;
        }
        padding-right: 5px;
        &.active{
          a{
            border-bottom: 1px solid $color_white;
            background-color: $color_white;
            color: $color_red;
          }
        }
      }
      li.first{

      }
    }
  }


}

.subject-btn{
  background-color: $color_main;
  color: $color_white;
  text-align: center;
  display: block;
  padding-top: 10px;
  .subject-name{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    &:hover{
      color: inherit;
    }
  }
}