.home-highlight-right{
  .news-slider-bar{
    margin-bottom: 15px;
    .block-title{
      font-size: 13px;
      font-weight: bold;
      color: $color_main;
      text-transform: none;
      position: relative;
      border-bottom: none;
      margin-bottom:5px;
      &:after{
        background-color: #e8e8e8;
        content: "";
        display: inline-block;
        height: 1px;
        left: 0.5em;
        margin-right: -50%;
        position: relative;
        vertical-align: middle;
        width: 70%;
      }
    }
    .views-row{
      margin-bottom:10px;
    }
  }
}
.block-cac-ky-thi{
  text-align: center;
  margin-top: 25px;
  .block-title{
    font-size: 18px;
    text-transform: uppercase;
    color: $color_main;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      width: 50%;
      height: 2px;
      background-color: $color_main2;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      bottom: -8px;

    }
  }
  .content{
    padding-left: 20%;
    padding-right: 20%;
  }
}
#block-block-14{
  display: inline-table;
  margin-top: 40px;
  .col-md-6{
    .content{
      display: table;
      color: $color_white;
      height: 100%;
      &>div{
        display: table-cell;
        vertical-align: middle;
        &.level-left{
          width: 30%;
          text-align: center;
          background-color: transparent !important;
        }
        &.level-right{
          text-align: left;
        }
      }
      padding-top: 60px;
      padding-bottom: 50px;

    }
    &:first-child .content{
      background-color: $color_main;
    }
    &:last-child .content{
      background-color: $color_main2;
    }
  }
}
.block-quiz-front{
  margin-bottom: 30px;
  .block-title {
    overflow: hidden;
    text-align: center;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: $color_red;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  .block-title:before,
  .block-title:after {
    background-color: $color_main;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  .block-title:before {
    right: 0.5em;
    margin-left: -50%;
  }
  .block-title:after {
    left: 0.5em;
    margin-right: -50%;
  }






  .views-row{
    margin-bottom: 15px;
    .row-content{
      border: 1px solid $color_gray;
      border-radius: 5px;
      background-color: $bg_header;
      display: table;
      width: 100%;
      .views-field{
        display: table-cell;
        padding:10px;
      }
      .views-field-field-image{
        width: 60px;
      }
    }

  }
}
#block-block-11{
  margin-bottom: 30px;
  display: table;
  width: 100%;
}
.news-front-bottom{
  .views-field-field-image{
    display: none;
  }
  .views-field-body{
    display: none;
  }
  .views-row{
    display: table;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid $color_gray;
    position: relative;
    padding-left: 20px;
    .views-field-title{
      font-weight: bold;
      color: $color_black_blurry;
    }
    &:before{
      position: absolute;
      left: 0px;
      content:  "\f0c8";

      -x-system-font: none;
      display: inline-block;
      font-family: FontAwesome;
      font-feature-settings: normal;
      font-kerning: auto;
      font-language-override: normal;
      font-size: inherit;
      font-size-adjust: none;
      font-stretch: normal;
      font-style: normal;
      font-synthesis: weight style;
      font-variant-alternates: normal;
      font-variant-caps: normal;
      font-variant-east-asian: normal;
      font-variant-ligatures: normal;
      font-variant-numeric: normal;
      font-variant-position: normal;
      font-weight: normal;
      line-height: 1;
      text-rendering: auto;
      font-size: 7px;
      bottom: 45%;
      color: $color_red;
    }
    &:first-child{
      &:before{
        display: none;
      }
      border-bottom:none;
      padding-top: 0px;
      padding-left: 0px;
      .views-field-title{
        font-size: 14px;
        font-weight: bold;
        a{
          color: $color_red;
        }
      }
      .views-field-field-image{
        display: block;
        float: left;
        width: 40%;
        margin-right: 15px;
      }
      .views-field-body{
        display: block;
      }
    }
  }
}

#block-views-couses-block-1,
.banner-top-1 {
  .slick-prev{
    &:before{
      @include fontAwesome();
      content: "\f104";
      font-size: 40px;
      left:5px;
      color: $color_link;
    }
  }
  .slick-next {
    &:before{
      @include fontAwesome();
      content: "\f105";
      font-size: 40px;
      right:5px;
      color: $color_link;
    }
  }
}



  @include bp(max-width,$bp-tablet){
    .home-highlight-right{
      .news-slider-bar{
        display: none;
      }
      #block-block-6{
        display: none;
      }
    }
    #block-views-couses-block-1{
      .slick-prev::before, .slick-next::before{
        color: $color_main;
      }
      .slick-prev{
        left: 15px;
        z-index: 1;
      }
      .slick-next{
        right: 15px;
        z-index: 1;
      }
      .slick-dots{
        bottom: 0px;
      }
    }

    #block-block-14{
      display: block;
      margin-top: 10px;
      .col-md-6{
        .content{
          display: block;
          color: $color_white;
          height: 100%;
          &>div{
            display: block;
            vertical-align: middle;
            &.level-left{
              width: auto;
              text-align: center;
              background-color: transparent !important;
              img{
                max-width: 35%;
              }
            }
            &.level-right{
              text-align: center;
              &>span{
                display: none;
              }
              h3{
                font-size: 20px;
                padding-left: 10px;
                padding-right: 10px;
              }
            }
          }
          padding-top: 15px;
          padding-bottom: 15px;

        }
        &:first-child .content{
          background-color: $color_main;
        }
        &:last-child .content{
          background-color: $color_main2;
        }
      }
    }
  }
