.page-thi-tu-luyen{
  .page-title{
    display: none;
  }
}
.view-tu-luyen{
  #views-exposed-form-tu-luyen-page{
    margin-right: 15px;
    margin-left:15px;
    .views-exposed-form{
       label{
         display: block;
         text-align: left;
       }
      .views-exposed-widgets{
        position: relative;
        padding-bottom: 50px;
        text-align: right;
        h1.title{
          text-transform: uppercase;
          color: $bg_button;
          padding-right: 30px;
        }
        #edit-field-category-exam-tid-wrapper{
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          padding-top: 33px;
          bottom: 0px;
          border-top: 2px solid $color_gray;
          text-align: center;
          .form-type-bef-link{
            display: inline-block;

            a{
              padding: 10px;
              background-color: $color_main;
              color: $color_white;
              &.active{
                background-color: $bg_button;
              }
            }
            margin-right: 5px;

          }
        }
      }
      .form-submit{
        background-color: $color_gray_bold;
      }
      #edit-field-subject-tid-wrapper{
        display: inline-block;
        float: inherit;
        padding: 0px 0px 0px 10px;
      }
      .views-exposed-widget{
        padding: 0px;
      }
      .views-submit-button{
        display: inline-block;
        float: inherit;
        padding: 0px 0px 0px 10px;
      }
      #edit-field-class-tid-wrapper{
        display: inline-block;
        float: inherit;
        padding: 0px 0px 0px 10px;
      }
      .form-select{
        width: 150px;
      }
    }
  }
  .view-content{
     margin-top: 30px;
     display: table;
     width: 100%;
    .views-row{
      margin-bottom: 30px;
      .row-content{
        background-color: $bg_header;
        padding: 5px 10px;
        .views-field-title{
          a{
            font-weight: bold;
            line-height: 15px;
            color: $color_main2;
          }
        }
        .time-limite{
          display: inline-block;
          background-color: $color_gray_bold;
          margin-top: 5px;
          margin-bottom: 3px;
          padding: 3px 5px;
          .views-field{
            display: inline-block;
            color: $color_white;
          }
        }
      }
    }
  }
}

@include bp(max-width,$bp-tablet) {
  .view-tu-luyen{
    #views-exposed-form-tu-luyen-page{
      .views-exposed-form {
        .views-exposed-widgets{
          padding-bottom: 70px;
        }
        .views-exposed-widget{
          &:first-child{
            display: block;
            width: 100%;
            text-align: left;
          }
        }
        #edit-field-class-tid-wrapper{
          padding-left: 0px;
          float: left;
          width: 33%;
        }
        #edit-field-subject-tid-wrapper{
          float: left;
          width: 33%;
        }

      }
    }
  }
}

@include bp(max-width,$bp-small) {
  .view-tu-luyen{
      #views-exposed-form-tu-luyen-page {
        .views-exposed-form {
          .views-exposed-widgets {
            #edit-field-category-exam-tid-wrapper{
              padding-top: 22px;
              bottom: -38px;
              .form-type-bef-link{
                margin-bottom: 25px;
              }
            }
          }
        }
      }
  }
}