.page-node-take{
  .tabs-wrapper{
    display: none;
  }
  #quiz-progress{
    display: none;
  }
  .quiz-question-quiz-page{
    display: none;
  }
  #main{
    .main-quiz-take{
      border: 1px solid $color_gray;
      border-radius: 5px 5px 2px 2px;
    }
    h1.page-title{
      text-align: center;
      background-color: $color_main;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
      text-transform: uppercase;
      color: $color_white;
    }
  }
  .quiz-question-multichoice{
    h2{
      font-size: 13px;
      font-weight: bold;
      border-bottom: 1px solid $color_gray;
      border-top: 1px solid $color_gray;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
    .field-name-body{
      padding-left: 15px;
    }

    .form-type-radios{
      label{
        display: none;
      }
    }
    table{
      background-color: transparent;
      width: 100%;
      tbody{
        border: none;
        tr{
          background-color: transparent;
          border: none;
          td{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            input[type=radio]{
              margin-top: 0px;
              width: 25px;
              height: 25px;

            }

            p{
              margin-bottom: 0px;
            }
            .need-review{
              cursor: pointer;
              .fa{
                margin-right: 5px;
              }
              &.checked{
                color: $color_red;
              }
            }
          }
        }
      }
    }
  }

}

.table-question{
  display: block;
  border-radius: 5px 5px 2px 2px;
  border: 1px solid $color_gray;

  padding-bottom: 15px;
  .title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color_gray;
    font-size: 18px;
  }
  .guide{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .question-list{

    padding-left: 5px;
    padding-right: 5px;
    .item-question{
      float: left;
      padding: 5px;
      .qnbutton{
        border: 1px solid $color_gray;
        border-radius: 2px;
        font-weight: bold;
        padding: 5px 10px;
        cursor: pointer;
      }
    }

    .need-review{
      background-color: $color_red;
    }
    .answered{
      background-color: $color_main;
      color: $color_white;
      &.need-review{
        background-color: $color_red;
      }
    }
    .remember{
      background-color: yellow;
      color: $color_white;
    }
  }
  .timer{
    text-align: center;
    .countdown{
      font-size: 30px;
      color: $color_red;
      text-transform: uppercase;
      background-color: transparent;
      border: none;
      span{
        font-size: 14px;
        color: $color_black_blurry;
        display: block;
      }
    }
  }
}
.guide{
  margin-bottom: 15px;
}


.fa.answered{
  color: $color_main;
  font-size: 15px;
}
.fa.remember{
  color: $color_red;
  font-size: 15px;
}
.fa.un-answer{
  color: $color_white;
  border: 1px solid $color_gray;
  border-radius: 3px;
}


.group-container {
  display: table;
  width: 100%;
  &>div{
    display: table-cell;
    vertical-align: top;
    text-align: left;
  }
  .group-image{
    width: 20%;

  }

  .field{
    font-size: 14px;
    font-weight: bold;
  }
}


.node-type-quiz{
  .group-take{
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    display: table;
    border-top: 1px solid $color_gray;

    .quiz-start-link{
      background-color: $bg_button;
      padding: 10px;
      font-size: 14px;
      color: $color_white;
      display: inline-block;
    }
  }
  .tabs-wrapper{
    display: none;
  }
  .quiz-not-available{
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    background-color: $bg_button;
    a{
      color: $color_white;
    }
  }
}

.disallow-take-quiz{
  display: block;
  text-align: center;
  padding-bottom: 15px;
}

#quiz-question-answering-form{
  .form-actions{
    text-align: center;
    #edit-navigation-skip{
      display: none;
    }
  }
}

#quiz-view-table{
  tbody{
    border: none;
    tr.even{
      background-color: transparent;
    }
    tr{
      border: none;
      th{
        border: none;
      }
      td{
        border: none;
        vertical-align: middle;
      }
    }
  }

}