.page-user-register{
  #user-register-form{
    label{
      width: 150px;
      text-align: left;
    }
    .description{
      margin-left: 155px;
    }
    .confirm-parent{
      width: 100%;
    }
    .password-parent{
      display: table;
      width: 100%;
      input.password-field{
        margin-left: 5px;
      }
    }
    .captcha{
      legend{
        display: none;
      }
      img{
        margin-left: 155px;
      }
      .fieldset-description{
        display: none;
      }
    }
  }
}
@include bp(max-width,$bp-tablet){

  .page-user-register {
    #user-register-form {
      .description {
        margin-left: 0px;
      }
      .captcha{
        img{
          margin-left: 0px;
        }
      }
    }
  }
}