body{
  font-size: 13px;
}
h1{
  font-size: 24px;
}
ul{
  padding: 0px;
  li{
    list-style: none;
  }
}
ul.menu{
  li{
    margin: 0px;
    padding: 0px;
  }
}
img{
  max-width: 100%;
  height: auto;
}

a:hover{
  text-decoration: none;
}
li a.active{
  color: $color_link;
}
.form-text{
  border: none;
  padding: 5px;
  max-width: 100%;
  border: 1px solid $color_gray;
}