body{
  font-size: 13px;
}
h1{
  font-size: 24px;
}
ul{
  padding: 0px;
  li{
    list-style: none;
  }
}
ul.menu{
  li{
    margin: 0px;
    padding: 0px;
  }
}
img{
  max-width: 100%;
  height: auto;
}

a:hover{
  text-decoration: none;
}
li a.active{
  color: $color_link;
}
.form-text,.form-select{
  border: none;
  padding: 5px;
  max-width: 100%;
  border: 1px solid $color_border_input;
}
.form-textarea{

  border: 1px solid $color_border_input;
}
.form-submit{
  background-color: $bg_button;
  color: $color_white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
}
h1.page-title{
  color: $color_main;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-top: 0px;
}
.banner-top-2{
  margin-top: 30px;
}
.color-2{
  .block-title{
    color: $color_main2 !important;
  }
}
#main{
  padding-bottom: 30px;
}
@include bp(max-width,$bp-tablet){
  .banner-top-1{
    .slick-prev::before, .slick-next::before{
      color: $color_main;
    }
    .slick-prev{
      left: 15px;
      z-index: 1;
    }
    .slick-next{
      right: 15px;
      z-index: 1;
    }
    .slick-dots{
      bottom: 0px;
    }
  }
  .banner-top-2{
    display: none;
  }
  .regular-block{
    .block-title{
      text-align: center;
    }
  }
}

@include bp(max-width,$bp-tablet) {
  #block-system-main{
    &>.content{
      margin-bottom: 30px;
    }
  }
}