.container-out{
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  &.header-top{
    background-color: $bg_header;
    padding-bottom: 10px;
    border-bottom: 1px solid $color_gray;
  }
}

.menu-link-top {
  .menu {
    li{
      display: inline-block;
      float: left;
      padding-right: 20px;
    }
  }
}

.support-top{
  ul{
    li{
      display: inline-block;
      float: left;
      .hotline{
        color: $color_red;
        font-weight: bold;
      }
      &:first-child{
        padding-right: 20px;
      }
    }
  }
}

.menu-top-right{
  ul{
    margin: 0px;
    li{
      list-style: none;
      padding-top: 10px;
      a{

        padding: 5px;
        border-radius: 2px;
        background-color: $color_red;
        color: $color_white;
      }
    }
  }
}

.login-block{
  ul.menu{
    li{
      list-style: none;
      display: inline-block;
      float: left;
      &:first-child{
        margin-right: 5px;
        a.i-button{
          background-color: $color_gray_bold;
        }
      }
    }
  }
}

.region-header {
  div.block{
    display:flex;
    align-items:center;
    .content{
      padding-top: 10px;
      padding-bottom: 10px;
      p{
        margin: 0px;
      }
    }
  }

}
a.i-button{
  border-radius: 2px;
  padding: 5px 18px 5px 18px;
  background-color: $color_main;
  color: $color_white;
  &:hover{
    color: $color_white;
  }
}

.header-bottom{
  background-color: $bg_header;
  padding-top: 10px;
  .new-hot{
    ul{
      li{
        padding-left: 35px;
        margin: 0px;
        background: url("../images/new-icon.png") no-repeat center left transparent;
      }
    }
  }
}

.front {
  .header-bottom{
    margin-bottom: 18px;
  }
}

@include bp(max-width,$bp-tablet){
  #block-menu-menu-menu-top-left{
    padding-left: 0px;
    text-align: right;
    .menu{
      text-align: right;
    }
  }
  .open_overlay{
    .menu-button{
      background-color: #363636;
      #menu-icon{
        .fa{
          color: $color_white;
        }
      }
    }
  }
  #navigation {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #363636;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    left: 0;
    opacity: 0;
    overflow-y: scroll;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 35px;
    padding-top: 15px;
    position: absolute;
    top: 98px;
    transform: translate(-250px, 0px);
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
    z-index: 100;

  }
  #navigation.open {
    opacity: 1;
    transform: translate(0px, 0px);
    width: 250px;
  }
  #navigation .menu li {
    margin: 0px;
    width: 100%;
    border-left: none;
    border-right:none;
    padding: 0px;
    a{
      border-bottom-color: #4f4f4f;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
      display: block;
      background-color: transparent !important;
    }
  }

  #header-mobile{
    .container{
      padding-left: 0px;
    }
    .row{
      display: table;
      width: 100%;
      margin: 0px;
      .menu-button{
        display: table-cell;
        width: 50px;
        text-align: left;
        vertical-align: middle;
        #menu-icon{
          display: block;
          width: 100%;
          height: 100%;
          padding-left: 15px;
          .fa{
            line-height: 35px;
            font-size: 26px;
          }
        }
      }
      .header-left{
        display: table-cell;
        .region-header{
          display: table;
          width: 100%;
          #block-block-3{
            display: none;
          }
          #block-block-2{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img{
              height: 35px;
            }
          }
          #block-system-user-menu{
            .content{
              padding: 0px;
              .menu{
                display: inline-table;
                margin: 0px;
              }
            }
            display: table-cell;
            width: 70px;
            padding: 0px;
            text-align: right;
            vertical-align: middle;
            a.i-button{
              position: relative;
              text-indent: -9999px;
              display: block;
              width: 30px;
              height: 20px;
              padding: 0px;
              background-color: transparent;
              &:before{
                @include fontAwesome();
                text-indent: 0px;
                right: 0px;
                color: $color_black_blurry;
                top: 0px;
                font-size: 20px;
              }
              &.login-link{
                &:before{
                  content: "\f007";
                }
              }
              &.register-link{
                &:before{
                  content: "\f023";
                }
              }
            }
          }
        }
      }

    }
  }

  #block-views-news-block-2{
    display: none;
  }
}

