$bg_header:#F8F8F8;
$bg_contact:#f5f5f5;
$bg_button:#ff6d00;
$color_white:#ffffff;
$color_main:#79B43E;
$color_main_bold:#568f1e;
$color_link:#555555;
$color_gray:#e8e8e8;
$color_gray_bold:#8a8c8d;
$color_gray_blurry:#666666;
$color_black:#000000;
$color_black_blurry:#333333;
$color_red:#ff4747;
$color_border_input:#d3d3d3;

/* Break point */
$bp-small: 480px;
$bp-mobile: 767px;
$bp-tablet: 991px;
$bp-laptop: 1279px;
$bp-desktop: 1399px;

