/* Variables */
/* Break point */
/* Mixin */
/* Mixin style */
/*
before/after awesome
 */
/* animation */
/* appearance */
/* border radius */
/* box-shadow */
/* custome font */
/* filter */
/* transform */
/* transition */
/* placeholder */
/* opacity */
/* breakpoint with one condition(min or max) */
/* breakpoint with two conditions (min and max) */
/*global*/
/* line 1, ../scss/global/_general.scss */
body {
  font-size: 13px;
}

/* line 4, ../scss/global/_general.scss */
h1 {
  font-size: 24px;
}

/* line 7, ../scss/global/_general.scss */
ul {
  padding: 0px;
}
/* line 9, ../scss/global/_general.scss */
ul li {
  list-style: none;
}

/* line 14, ../scss/global/_general.scss */
ul.menu li {
  margin: 0px;
  padding: 0px;
}

/* line 19, ../scss/global/_general.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 24, ../scss/global/_general.scss */
a:hover {
  text-decoration: none;
}

/* line 27, ../scss/global/_general.scss */
li a.active {
  color: #555555;
}

/* line 30, ../scss/global/_general.scss */
.form-text, .form-select {
  border: none;
  padding: 5px;
  max-width: 100%;
  border: 1px solid #d3d3d3;
}

/* line 36, ../scss/global/_general.scss */
.form-textarea {
  border: 1px solid #d3d3d3;
}

/* line 40, ../scss/global/_general.scss */
.form-submit {
  background-color: #ff6d00;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
}

/* line 48, ../scss/global/_general.scss */
h1.page-title {
  color: #79B43E;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-top: 0px;
}

/* line 54, ../scss/global/_general.scss */
.banner-top-2 {
  margin-top: 30px;
}

/* line 58, ../scss/global/_general.scss */
.color-2 .block-title {
  color: #f25a29 !important;
}

/* line 1, ../scss/global/_header.scss */
.container-out {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
/* line 5, ../scss/global/_header.scss */
.container-out.header-top {
  background-color: #F8F8F8;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

/* line 14, ../scss/global/_header.scss */
.menu-link-top .menu li {
  display: inline-block;
  float: left;
  padding-right: 20px;
}

/* line 24, ../scss/global/_header.scss */
.support-top ul li {
  display: inline-block;
  float: left;
}
/* line 27, ../scss/global/_header.scss */
.support-top ul li .hotline {
  color: #ff4747;
  font-weight: bold;
}
/* line 31, ../scss/global/_header.scss */
.support-top ul li:first-child {
  padding-right: 20px;
}

/* line 39, ../scss/global/_header.scss */
.menu-top-right ul {
  margin: 0px;
}
/* line 41, ../scss/global/_header.scss */
.menu-top-right ul li {
  list-style: none;
  padding-top: 10px;
}
/* line 44, ../scss/global/_header.scss */
.menu-top-right ul li a {
  padding: 5px;
  border-radius: 2px;
  background-color: #ff4747;
  color: #ffffff;
}

/* line 57, ../scss/global/_header.scss */
.login-block ul.menu li {
  list-style: none;
  display: inline-block;
  float: left;
}
/* line 61, ../scss/global/_header.scss */
.login-block ul.menu li:first-child {
  margin-right: 5px;
}
/* line 63, ../scss/global/_header.scss */
.login-block ul.menu li:first-child a.i-button {
  background-color: #8a8c8d;
}

/* line 72, ../scss/global/_header.scss */
.region-header div.block {
  display: flex;
  align-items: center;
}
/* line 75, ../scss/global/_header.scss */
.region-header div.block .content {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 78, ../scss/global/_header.scss */
.region-header div.block .content p {
  margin: 0px;
}

/* line 85, ../scss/global/_header.scss */
a.i-button {
  border-radius: 2px;
  padding: 5px 18px 5px 18px;
  background-color: #79B43E;
  color: #ffffff;
}
/* line 90, ../scss/global/_header.scss */
a.i-button:hover {
  color: #ffffff;
}

/* line 95, ../scss/global/_header.scss */
.header-bottom {
  background-color: #F8F8F8;
  padding-top: 10px;
}
/* line 100, ../scss/global/_header.scss */
.header-bottom .new-hot ul li {
  padding-left: 35px;
  margin: 0px;
  background: url("../images/new-icon.png") no-repeat center left transparent;
}

/* line 110, ../scss/global/_header.scss */
.front .header-bottom {
  margin-bottom: 18px;
}

/* line 1, ../scss/global/_body.scss */
body {
  color: #666666;
}

/* line 1, ../scss/global/_footer.scss */
#footer-saran {
  background-color: #79B43E;
}
/* line 3, ../scss/global/_footer.scss */
#footer-saran span.block-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
/* line 13, ../scss/global/_footer.scss */
#footer-saran p {
  color: #ffffff;
}
/* line 15, ../scss/global/_footer.scss */
#footer-saran p a {
  color: #ffffff;
}
/* line 21, ../scss/global/_footer.scss */
#footer-saran #block-menu-menu-gioi-thieu ul.menu li {
  padding-bottom: 5px;
  list-style: none;
}
/* line 24, ../scss/global/_footer.scss */
#footer-saran #block-menu-menu-gioi-thieu ul.menu li a {
  color: #ffffff;
}
/* line 32, ../scss/global/_footer.scss */
#footer-saran .support-block i {
  margin-right: 5px;
  font-size: 15px;
}

/* line 40, ../scss/global/_footer.scss */
#footer-bottom {
  background-color: #568f1e;
  color: #ffffff;
}
/* line 42, ../scss/global/_footer.scss */
#footer-bottom p {
  margin-top: 10px;
  color: #ffffff;
}

/*components*/
/* line 2, ../scss/components/_main-menu.scss */
.main-menu-container {
  background-color: #79B43E;
}
/* line 6, ../scss/components/_main-menu.scss */
.main-menu-container .main-menu ul.menu {
  display: inline;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 11, ../scss/components/_main-menu.scss */
.main-menu-container .main-menu ul.menu li {
  list-style: none;
  display: inline-block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #598829;
  border-right: 1px solid #96db51;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 21, ../scss/components/_main-menu.scss */
.main-menu-container .main-menu ul.menu li:first-child {
  padding-left: 0px;
  border-left: none;
}
/* line 24, ../scss/components/_main-menu.scss */
.main-menu-container .main-menu ul.menu li:first-child i {
  font-size: 18px;
}
/* line 28, ../scss/components/_main-menu.scss */
.main-menu-container .main-menu ul.menu li:last-child {
  border-right: none;
}
/* line 31, ../scss/components/_main-menu.scss */
.main-menu-container .main-menu ul.menu li a {
  text-transform: uppercase;
  color: #ffffff;
}

/* line 1, ../scss/components/_block.scss */
.regular-block {
  margin-bottom: 30px;
}
/* line 3, ../scss/components/_block.scss */
.regular-block .block-title {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  color: #79B43E;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

/* line 15, ../scss/components/_block.scss */
.news-slider-bar .views-row {
  display: table;
  margin-bottom: 20px;
  width: 100%;
}
/* line 19, ../scss/components/_block.scss */
.news-slider-bar .views-row .views-field-field-image {
  float: left;
  width: 38%;
  margin-right: 15px;
}
/* line 27, ../scss/components/_block.scss */
.news-slider-bar .views-row .views-field-created {
  padding-top: 5px;
  color: #666666;
}
/* line 31, ../scss/components/_block.scss */
.news-slider-bar .views-row .views-field-body {
  color: #666666;
}

/* line 1, ../scss/components/_breadcrumb.scss */
.breadcrumb {
  background-color: transparent;
  padding-left: 0px;
  margin-bottom: 5px;
}
/* line 4, ../scss/components/_breadcrumb.scss */
.breadcrumb span {
  color: #666666;
  font-style: italic;
}

/* line 2, ../scss/components/_block_news_related.scss */
.news-related .views-field-title {
  display: block;
  padding-top: 15px;
}
/* line 5, ../scss/components/_block_news_related.scss */
.news-related .views-field-title a {
  font-weight: 700;
  color: #333333;
}

/* line 1, ../scss/components/_block_search.scss */
#block-search-form {
  margin-top: -6px;
}
/* line 3, ../scss/components/_block_search.scss */
#block-search-form .container-inline {
  display: block;
  position: relative;
}
/* line 6, ../scss/components/_block_search.scss */
#block-search-form .container-inline .form-type-textfield {
  display: block;
  margin: 0px;
}
/* line 9, ../scss/components/_block_search.scss */
#block-search-form .container-inline .form-type-textfield input {
  width: 100%;
}
/* line 13, ../scss/components/_block_search.scss */
#block-search-form .container-inline .form-actions {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
}

/* line 2, ../scss/components/_block_tuluyen.scss */
#block-menu-menu-exams .block-title {
  margin-left: 15px;
  margin-right: 15px;
}
/* line 7, ../scss/components/_block_tuluyen.scss */
#block-menu-menu-exams ul.menu li {
  list-style: none;
  width: 20%;
  float: left;
  padding: 15px;
}
/* line 13, ../scss/components/_block_tuluyen.scss */
#block-menu-menu-exams ul.menu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ff4747;
  padding-top: 10px;
}
/* line 20, ../scss/components/_block_tuluyen.scss */
#block-menu-menu-exams ul.menu li a .link-text {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

/* line 37, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-header {
  text-align: center;
  background-color: #79B43E;
  color: #ffffff;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}
/* line 48, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content h3 {
  font-weight: bold;
  font-size: 15px;
  position: relative;
  color: #ff4747;
  padding-left: 40px;
}
/* line 54, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content h3:before {
  position: absolute;
  left: 5px;
  content: "\f017";
  -x-system-font: none;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 30px;
  bottom: -5px;
  color: #ff4747;
}
/* line 84, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content .views-row {
  display: table;
  width: 100%;
}
/* line 87, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content .views-row .views-field {
  display: table-cell;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* line 93, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content .views-row .views-field-title {
  font-weight: bold;
  position: relative;
  padding-left: 35px;
}
/* line 97, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content .views-row .views-field-title:before {
  position: absolute;
  left: 10px;
  content: "\f0f6";
  -x-system-font: none;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 20px;
  bottom: 7px;
  color: #ff4747;
}
/* line 127, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content .views-row .views-field-time-limit {
  width: 150px;
}
/* line 130, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content .views-row .views-field-number-of-random-questions {
  width: 150px;
}
/* line 133, ../scss/components/_block_tuluyen.scss */
.view-quiz-filter > .view-content .view-grouping .view-grouping-content .views-row:nth-child(even) {
  background: #F8F8F8;
}

/* line 2, ../scss/components/_block-top-point.scss */
.top-point .views-table {
  width: 100%;
}
/* line 5, ../scss/components/_block-top-point.scss */
.top-point .views-table thead tr {
  background-color: #e8e8e8;
}
/* line 8, ../scss/components/_block-top-point.scss */
.top-point .views-table thead tr th {
  font-weight: bold;
  padding-bottom: 6px;
  padding-top: 6px;
  border: none;
}
/* line 17, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr {
  border: none;
}
/* line 19, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr td {
  padding-bottom: 6px;
  padding-top: 6px;
}
/* line 25, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr:nth-child(-n+3) td {
  color: #ff4747;
}
/* line 27, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr:nth-child(-n+3) td a {
  color: #ff4747;
}
/* line 31, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr:nth-child(-n+3) td.views-field-name {
  position: relative;
}
/* line 33, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr:nth-child(-n+3) td.views-field-name:after {
  position: absolute;
  content: "\f017";
  -x-system-font: none;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 30px;
  bottom: -5px;
  content: '\f091';
  left: auto;
  right: 10px;
  font-size: 20px;
  bottom: auto;
}
/* line 46, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr:nth-child(1) td.views-field-name:after {
  color: #FFD700;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9700), to(#FFD700));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 56, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr:nth-child(2) td.views-field-name:after {
  color: silver;
  background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#9a9a9a));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 66, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr:nth-child(3) td.views-field-name:after {
  color: #B87333;
  background: -webkit-gradient(linear, left top, left bottom, from(#B87333), to(#9a9a9a));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* line 76, ../scss/components/_block-top-point.scss */
.top-point .views-table tbody tr.odd {
  background-color: transparent;
}
/* line 81, ../scss/components/_block-top-point.scss */
.top-point .views-field-counter {
  text-align: center;
}

/* line 1, ../scss/components/_exams.scss */
.tab-thi-thu {
  position: relative;
  margin-bottom: 30px;
  display: table;
  width: 100%;
}
/* line 6, ../scss/components/_exams.scss */
.tab-thi-thu .block-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  position: absolute;
  left: 0px;
  top: 5px;
}
/* line 17, ../scss/components/_exams.scss */
.tab-thi-thu ul.quicktabs-tabs.quicktabs-style-nostyle {
  border-bottom: 1px solid #e8e8e8;
  display: table;
  width: 100%;
  padding-left: 220px;
}
/* line 22, ../scss/components/_exams.scss */
.tab-thi-thu ul.quicktabs-tabs.quicktabs-style-nostyle li {
  display: inline-block;
  float: left;
  margin-bottom: -1px;
  margin-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
}
/* line 29, ../scss/components/_exams.scss */
.tab-thi-thu ul.quicktabs-tabs.quicktabs-style-nostyle li a {
  padding: 5px 10px 5px 10px;
  border: 1px solid #e8e8e8;
  display: block;
  background-color: #79B43E;
  color: #ffffff;
}
/* line 38, ../scss/components/_exams.scss */
.tab-thi-thu ul.quicktabs-tabs.quicktabs-style-nostyle li.active a {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
  color: #ff4747;
}

/* line 54, ../scss/components/_exams.scss */
.subject-btn {
  background-color: #79B43E;
  color: #ffffff;
  text-align: center;
  display: block;
  padding-top: 10px;
}
/* line 60, ../scss/components/_exams.scss */
.subject-btn .subject-name {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}
/* line 65, ../scss/components/_exams.scss */
.subject-btn .subject-name:hover {
  color: inherit;
}

/*page*/
/* line 2, ../scss/pages/_news-list.scss */
.page-taxonomy-term h1.page-title {
  color: #79B43E;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-top: 0px;
}

/* line 12, ../scss/pages/_news-list.scss */
.view-taxonomy-term .view-header {
  background-color: #F8F8F8;
  font-style: italic;
  padding: 15px 10px;
  margin-bottom: 15px;
}
/* line 16, ../scss/pages/_news-list.scss */
.view-taxonomy-term .view-header p {
  margin: 0px;
}
/* line 21, ../scss/pages/_news-list.scss */
.view-taxonomy-term .views-row {
  display: table;
  margin-bottom: 30px;
  width: 100%;
}
/* line 25, ../scss/pages/_news-list.scss */
.view-taxonomy-term .views-row .views-field-field-image {
  float: left;
  width: 30%;
  margin-right: 15px;
}
/* line 30, ../scss/pages/_news-list.scss */
.view-taxonomy-term .views-row .views-field-title {
  padding-bottom: 10px;
}
/* line 31, ../scss/pages/_news-list.scss */
.view-taxonomy-term .views-row .views-field-title a {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
/* line 38, ../scss/pages/_news-list.scss */
.view-taxonomy-term .views-row .views-field-created {
  padding-bottom: 10px;
  color: #666666;
  font-style: italic;
}

/* line 1, ../scss/pages/_news-all.scss */
.page-tin-tuc .page-title {
  border-bottom-color: #e8e8e8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #79b43e;
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
  line-height: inherit;
  margin-top: 0px;
}

/* line 18, ../scss/pages/_news-all.scss */
.page-tin-tuc .view-news-all .views-row .views-field-title a {
  color: #000000;
  font-weight: bold;
}
/* line 26, ../scss/pages/_news-all.scss */
.page-tin-tuc .view-news-all .left .views-row .views-field-title {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 29, ../scss/pages/_news-all.scss */
.page-tin-tuc .view-news-all .left .views-row .views-field-title a {
  font-size: 14px;
}
/* line 33, ../scss/pages/_news-all.scss */
.page-tin-tuc .view-news-all .left .views-row .views-field-created {
  color: #666666;
  padding-bottom: 10px;
}
/* line 40, ../scss/pages/_news-all.scss */
.page-tin-tuc .view-news-all .right .views-row {
  display: table;
  margin-bottom: 20px;
}
/* line 44, ../scss/pages/_news-all.scss */
.page-tin-tuc .view-news-all .right .views-row .views-field-field-image {
  float: left;
  margin-right: 15px;
  width: 38%;
}
/* line 49, ../scss/pages/_news-all.scss */
.page-tin-tuc .view-news-all .right .views-row .views-field-created {
  color: #666666;
  padding-top: 5px;
}
/* line 53, ../scss/pages/_news-all.scss */
.page-tin-tuc .view-news-all .right .views-row .views-field-body {
  display: none;
}
/* line 60, ../scss/pages/_news-all.scss */
.page-tin-tuc .news-first .views-row-1 {
  position: relative;
}
/* line 62, ../scss/pages/_news-all.scss */
.page-tin-tuc .news-first .views-row-1 .views-field-field-image {
  float: none;
  width: 100%;
}
/* line 68, ../scss/pages/_news-all.scss */
.page-tin-tuc .news-first .views-row-1 .views-field-title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px 10px;
  background-color: rgba(74, 166, 169, 0.8);
}
/* line 74, ../scss/pages/_news-all.scss */
.page-tin-tuc .news-first .views-row-1 .views-field-title a {
  color: #ffffff;
  font-size: 14px;
}
/* line 79, ../scss/pages/_news-all.scss */
.page-tin-tuc .news-first .views-row-1 .views-field-created {
  display: none;
}

/* line 86, ../scss/pages/_news-all.scss */
.view-display-id-block_3 .views-field-body {
  padding-top: 10px;
}

/* line 3, ../scss/pages/_contact-us.scss */
.page-node-25 #webform-client-form-26 .webform-component--row--form-r {
  margin-left: 0px;
}
/* line 6, ../scss/pages/_contact-us.scss */
.page-node-25 #webform-client-form-26 .form-text {
  width: 100%;
}
/* line 9, ../scss/pages/_contact-us.scss */
.page-node-25 #webform-client-form-26 .form-textarea {
  width: 100%;
}
/* line 14, ../scss/pages/_contact-us.scss */
.page-node-25 .block-title {
  margin-top: 25px;
  color: #79b43e;
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
/* line 25, ../scss/pages/_contact-us.scss */
.page-node-25 .contact-us-info .col-md-4 > div {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f5f5f5;
  text-align: center;
}
/* line 30, ../scss/pages/_contact-us.scss */
.page-node-25 .contact-us-info .col-md-4 > div label {
  display: block;
}
/* line 36, ../scss/pages/_contact-us.scss */
.page-node-25 .contact-us-info .col-md-4:first-child i.fa {
  font-size: 30px;
}
/* line 41, ../scss/pages/_contact-us.scss */
.page-node-25 .contact-us-info .col-md-4:last-child i.fa {
  font-size: 30px;
}
/* line 47, ../scss/pages/_contact-us.scss */
.page-node-25 h1.page-title {
  overflow: hidden;
  margin-top: 0px;
  color: #79b43e;
  display: block;
  font-size: 20px;
  line-height: inherit;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
/* line 57, ../scss/pages/_contact-us.scss */
.page-node-25 h1.page-title:after {
  background-color: #e8e8e8;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  left: 0.5em;
  margin-right: -50%;
}
/* line 69, ../scss/pages/_contact-us.scss */
.page-node-25 .contact-phone {
  margin-bottom: 5px;
}

/* line 3, ../scss/pages/_user-register.scss */
.page-user-register #user-register-form label {
  width: 150px;
  text-align: left;
}
/* line 7, ../scss/pages/_user-register.scss */
.page-user-register #user-register-form .description {
  margin-left: 155px;
}
/* line 10, ../scss/pages/_user-register.scss */
.page-user-register #user-register-form .confirm-parent {
  width: auto;
}
/* line 13, ../scss/pages/_user-register.scss */
.page-user-register #user-register-form .password-parent {
  width: auto;
}
/* line 17, ../scss/pages/_user-register.scss */
.page-user-register #user-register-form .captcha legend {
  display: none;
}
/* line 20, ../scss/pages/_user-register.scss */
.page-user-register #user-register-form .captcha img {
  margin-left: 155px;
}
/* line 23, ../scss/pages/_user-register.scss */
.page-user-register #user-register-form .captcha .fieldset-description {
  display: none;
}

/* line 2, ../scss/pages/_user-login.scss */
#user-login label {
  width: 150px;
  text-align: left;
}
/* line 6, ../scss/pages/_user-login.scss */
#user-login .description {
  margin-left: 155px;
}

/* line 2, ../scss/pages/_quiz-take.scss */
.page-node-take .tabs-wrapper {
  display: none;
}
/* line 5, ../scss/pages/_quiz-take.scss */
.page-node-take #quiz-progress {
  display: none;
}
/* line 8, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-quiz-page {
  display: none;
}
/* line 12, ../scss/pages/_quiz-take.scss */
.page-node-take #main .main-quiz-take {
  border: 1px solid #e8e8e8;
  border-radius: 5px 5px 2px 2px;
}
/* line 16, ../scss/pages/_quiz-take.scss */
.page-node-take #main h1.page-title {
  text-align: center;
  background-color: #79B43E;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
/* line 27, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice h2 {
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
/* line 36, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice .field-name-body {
  padding-left: 15px;
}
/* line 41, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice .form-type-radios label {
  display: none;
}
/* line 45, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice table {
  background-color: transparent;
  width: 100%;
}
/* line 48, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice table tbody {
  border: none;
}
/* line 50, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice table tbody tr {
  background-color: transparent;
  border: none;
}
/* line 53, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice table tbody tr td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
/* line 57, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice table tbody tr td input[type=radio] {
  margin-top: 0px;
  width: 25px;
  height: 25px;
}
/* line 64, ../scss/pages/_quiz-take.scss */
.page-node-take .quiz-question-multichoice table tbody tr td p {
  margin-bottom: 0px;
}

/* line 75, ../scss/pages/_quiz-take.scss */
.table-question {
  display: block;
  border-radius: 5px 5px 2px 2px;
  border: 1px solid #e8e8e8;
  padding-bottom: 15px;
}
/* line 81, ../scss/pages/_quiz-take.scss */
.table-question .title {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e8e8e8;
  font-size: 18px;
}
/* line 88, ../scss/pages/_quiz-take.scss */
.table-question .guide {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
/* line 93, ../scss/pages/_quiz-take.scss */
.table-question .question-list {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 97, ../scss/pages/_quiz-take.scss */
.table-question .question-list .item-question {
  float: left;
  padding: 5px;
}
/* line 100, ../scss/pages/_quiz-take.scss */
.table-question .question-list .item-question .qnbutton {
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
}
/* line 108, ../scss/pages/_quiz-take.scss */
.table-question .question-list .answered {
  background-color: #79B43E;
  color: #ffffff;
}
/* line 112, ../scss/pages/_quiz-take.scss */
.table-question .question-list .remember {
  background-color: yellow;
  color: #ffffff;
}
/* line 117, ../scss/pages/_quiz-take.scss */
.table-question .timer {
  text-align: center;
}
/* line 119, ../scss/pages/_quiz-take.scss */
.table-question .timer .countdown {
  font-size: 30px;
  color: #ff4747;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
/* line 125, ../scss/pages/_quiz-take.scss */
.table-question .timer .countdown span {
  font-size: 14px;
  color: #333333;
  display: block;
}

/* line 133, ../scss/pages/_quiz-take.scss */
.guide {
  margin-bottom: 15px;
}

/* line 138, ../scss/pages/_quiz-take.scss */
.fa.answered {
  color: #79B43E;
}

/* line 141, ../scss/pages/_quiz-take.scss */
.fa.remember {
  color: #ffffff;
  border: 1px solid #e8e8e8;
}

/* line 146, ../scss/pages/_quiz-take.scss */
.group-container {
  display: table;
  width: 100%;
}
/* line 149, ../scss/pages/_quiz-take.scss */
.group-container > div {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}
/* line 154, ../scss/pages/_quiz-take.scss */
.group-container .group-image {
  width: 20%;
}
/* line 158, ../scss/pages/_quiz-take.scss */
.group-container .group-infomation {
  padding-left: 15px;
}
/* line 161, ../scss/pages/_quiz-take.scss */
.group-container .group-infomation table tbody {
  border: none;
}
/* line 164, ../scss/pages/_quiz-take.scss */
.group-container .group-infomation table tr {
  background-color: transparent;
  border: none;
}
/* line 167, ../scss/pages/_quiz-take.scss */
.group-container .group-infomation table tr th {
  border: none;
}
/* line 170, ../scss/pages/_quiz-take.scss */
.group-container .group-infomation table tr td {
  border: none;
}
/* line 176, ../scss/pages/_quiz-take.scss */
.group-container .field {
  font-size: 14px;
  font-weight: bold;
}

/* line 184, ../scss/pages/_quiz-take.scss */
.node-type-quiz .group-take {
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  display: table;
  border-top: 1px solid #e8e8e8;
}
/* line 192, ../scss/pages/_quiz-take.scss */
.node-type-quiz .group-take .quiz-start-link {
  background-color: #ff6d00;
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
}
/* line 200, ../scss/pages/_quiz-take.scss */
.node-type-quiz .tabs-wrapper {
  display: none;
}
/* line 203, ../scss/pages/_quiz-take.scss */
.node-type-quiz .quiz-not-available {
  display: inline-block;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: #ff6d00;
}
/* line 209, ../scss/pages/_quiz-take.scss */
.node-type-quiz .quiz-not-available a {
  color: #ffffff;
}

/* line 2, ../scss/pages/_teacher.scss */
.node-type-teacher #block-system-main {
  display: table;
  padding-bottom: 20px;
}
/* line 6, ../scss/pages/_teacher.scss */
.node-type-teacher .field-name-field-links {
  display: block;
  text-align: center;
}
/* line 9, ../scss/pages/_teacher.scss */
.node-type-teacher .field-name-field-links .field-item {
  display: inline-block;
  font-size: 20px;
  color: #79B43E;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  width: 30px;
  height: 30px;
  margin: 10px 5px 5px 5px;
  background-color: #e8e8e8;
}
/* line 19, ../scss/pages/_teacher.scss */
.node-type-teacher .field-name-field-links .field-item i.fa {
  color: #79B43E;
}

/* line 2, ../scss/pages/_front.scss */
.home-highlight-right .news-slider-bar {
  margin-bottom: 15px;
}
/* line 4, ../scss/pages/_front.scss */
.home-highlight-right .news-slider-bar .block-title {
  font-size: 13px;
  font-weight: bold;
  color: #79B43E;
  text-transform: none;
  position: relative;
  border-bottom: none;
  margin-bottom: 5px;
}
/* line 12, ../scss/pages/_front.scss */
.home-highlight-right .news-slider-bar .block-title:after {
  background-color: #e8e8e8;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0.5em;
  margin-right: -50%;
  position: relative;
  vertical-align: middle;
  width: 70%;
}
/* line 24, ../scss/pages/_front.scss */
.home-highlight-right .news-slider-bar .views-row {
  margin-bottom: 10px;
}

/* line 29, ../scss/pages/_front.scss */
.block-cac-ky-thi {
  text-align: center;
  margin-top: 25px;
}
/* line 32, ../scss/pages/_front.scss */
.block-cac-ky-thi .block-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #79B43E;
  position: relative;
  margin-bottom: 30px;
  display: inline-block;
}
/* line 39, ../scss/pages/_front.scss */
.block-cac-ky-thi .block-title:after {
  content: "";
  position: absolute;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #f25a29;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -8px;
}
/* line 54, ../scss/pages/_front.scss */
.block-cac-ky-thi .content {
  padding-left: 20%;
  padding-right: 20%;
}

/* line 59, ../scss/pages/_front.scss */
#block-block-14 {
  display: inline-table;
  margin-top: 40px;
}
/* line 63, ../scss/pages/_front.scss */
#block-block-14 .col-md-6 .content {
  display: table;
  color: #ffffff;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
}
/* line 67, ../scss/pages/_front.scss */
#block-block-14 .col-md-6 .content > div {
  display: table-cell;
  vertical-align: middle;
}
/* line 70, ../scss/pages/_front.scss */
#block-block-14 .col-md-6 .content > div.level-left {
  width: 30%;
  text-align: center;
  background-color: transparent !important;
}
/* line 75, ../scss/pages/_front.scss */
#block-block-14 .col-md-6 .content > div.level-right {
  text-align: left;
}
/* line 83, ../scss/pages/_front.scss */
#block-block-14 .col-md-6:first-child .content {
  background-color: #79B43E;
}
/* line 86, ../scss/pages/_front.scss */
#block-block-14 .col-md-6:last-child .content {
  background-color: #f25a29;
}

/* line 91, ../scss/pages/_front.scss */
.block-quiz-front {
  margin-bottom: 30px;
}
/* line 93, ../scss/pages/_front.scss */
.block-quiz-front .block-title {
  overflow: hidden;
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #ff4747;
  text-transform: uppercase;
  padding-bottom: 10px;
}
/* line 103, ../scss/pages/_front.scss */
.block-quiz-front .block-title:before,
.block-quiz-front .block-title:after {
  background-color: #79B43E;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
/* line 113, ../scss/pages/_front.scss */
.block-quiz-front .block-title:before {
  right: 0.5em;
  margin-left: -50%;
}
/* line 117, ../scss/pages/_front.scss */
.block-quiz-front .block-title:after {
  left: 0.5em;
  margin-right: -50%;
}
/* line 127, ../scss/pages/_front.scss */
.block-quiz-front .views-row {
  margin-bottom: 15px;
}
/* line 129, ../scss/pages/_front.scss */
.block-quiz-front .views-row .row-content {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #F8F8F8;
  display: table;
  width: 100%;
}
/* line 135, ../scss/pages/_front.scss */
.block-quiz-front .views-row .row-content .views-field {
  display: table-cell;
  padding: 10px;
}
/* line 139, ../scss/pages/_front.scss */
.block-quiz-front .views-row .row-content .views-field-field-image {
  width: 60px;
}

/* line 146, ../scss/pages/_front.scss */
#block-block-11 {
  margin-bottom: 30px;
  display: table;
  width: 100%;
}

/* line 152, ../scss/pages/_front.scss */
.news-front-bottom .views-field-field-image {
  display: none;
}
/* line 155, ../scss/pages/_front.scss */
.news-front-bottom .views-field-body {
  display: none;
}
/* line 158, ../scss/pages/_front.scss */
.news-front-bottom .views-row {
  display: table;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
  padding-left: 20px;
}
/* line 166, ../scss/pages/_front.scss */
.news-front-bottom .views-row .views-field-title {
  font-weight: bold;
  color: #333333;
}
/* line 170, ../scss/pages/_front.scss */
.news-front-bottom .views-row:before {
  position: absolute;
  left: 0px;
  content: "\f0c8";
  -x-system-font: none;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 7px;
  bottom: 45%;
  color: #ff4747;
}
/* line 199, ../scss/pages/_front.scss */
.news-front-bottom .views-row:first-child {
  border-bottom: none;
  padding-top: 0px;
  padding-left: 0px;
}
/* line 200, ../scss/pages/_front.scss */
.news-front-bottom .views-row:first-child:before {
  display: none;
}
/* line 206, ../scss/pages/_front.scss */
.news-front-bottom .views-row:first-child .views-field-title {
  font-size: 14px;
  font-weight: bold;
}
/* line 209, ../scss/pages/_front.scss */
.news-front-bottom .views-row:first-child .views-field-title a {
  color: #ff4747;
}
/* line 213, ../scss/pages/_front.scss */
.news-front-bottom .views-row:first-child .views-field-field-image {
  display: block;
  float: left;
  width: 40%;
  margin-right: 15px;
}
/* line 219, ../scss/pages/_front.scss */
.news-front-bottom .views-row:first-child .views-field-body {
  display: block;
}

/* line 2, ../scss/pages/_course.scss */
.view-couses .views-field {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
/* line 5, ../scss/pages/_course.scss */
.view-couses .views-field .views-label {
  display: inline-block;
}
/* line 8, ../scss/pages/_course.scss */
.view-couses .views-field .field-content {
  display: inline-block;
}
/* line 14, ../scss/pages/_course.scss */
.view-couses .row-content {
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
/* line 17, ../scss/pages/_course.scss */
.view-couses .row-content .views-field-title {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
}
/* line 22, ../scss/pages/_course.scss */
.view-couses .row-content .views-field-view-node {
  text-align: right;
  padding-bottom: 10px;
}
/* line 25, ../scss/pages/_course.scss */
.view-couses .row-content .views-field-view-node a {
  background-color: #79B43E;
  padding: 5px 10px;
  color: #ffffff;
}
/* line 31, ../scss/pages/_course.scss */
.view-couses .row-content .views-field-field-image {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 1, ../scss/pages/_document.scss */
.related-document {
  margin-top: 30px;
}
/* line 4, ../scss/pages/_document.scss */
.related-document ul li {
  margin: 0px;
  padding-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #333333;
  position: relative;
}
/* line 12, ../scss/pages/_document.scss */
.related-document ul li:before {
  position: absolute;
  left: 0px;
  content: "\f0c8";
  -x-system-font: none;
  display: inline-block;
  font-family: FontAwesome;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 7px;
  color: #ff4747;
  top: 50%;
}

/* line 3, ../scss/pages/_user-profile.scss */
.page-user .profile .user-picture {
  float: none;
}
/* line 6, ../scss/pages/_user-profile.scss */
.page-user .profile .profile-title {
  background-color: #79B43E;
  text-align: left;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  padding: 5px;
  margin-bottom: 15px;
}
/* line 15, ../scss/pages/_user-profile.scss */
.page-user .profile .profile-left {
  text-align: center;
}
/* line 17, ../scss/pages/_user-profile.scss */
.page-user .profile .profile-left .content {
  background-color: #F8F8F8;
}
